{% extends 'blog/base.html' %}

{% block content %}
<div class="row" >
<div class="col-md-2"></div>
            <div class="col-md-8">
               
    <a href="/post/new/"><button class="btn btn-primary add_button">Add a Blog!</button></a>
   
    {% for post in posts %}
        <div class="post card">
            <h1 >
                <a class="blog_title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>               
            </h1>
            <p class="text-muted" style="font-size:18px;font-family: Oswald;
    padding-left: 0px;">Created by {{ post.author }}</p>
            <p class="post_text">{{ post.text|linebreaksbr|truncatechars:200 }} <a href="{% url 'post_detail' pk=post.pk %}">Read More</a></p>
            <div class="date"> Published Date : 
                {{ post.published_date }}
            </div>
            
            
            
        </div>
         {% endfor %}
        </div>
            <div class="col-md-2"></div>
   
</div>
{% endblock %}